body {
  margin:0;
  font-family:Arial;
  display:flex;
  background:#f4f6f9;
}

.sidebar {
  width:230px;
  background:#1e293b;
  color:white;
  padding:20px;
  height:100vh;
}

.sidebar button {
  width:100%;
  margin:10px 0;
  padding:10px;
  background:#334155;
  border:none;
  color:white;
}

.main {
  flex:1;
  padding:30px;
}

.section.hidden { display:none; }

input, select {
  display:block;
  margin:10px 0;
  padding:8px;
  width:300px;
}
